*{
  box-sizing: border-box;
}


body{
  margin:0;
  padding:0;
  font-family: 'Commissioner', sans-serif;
  color: white;
  background-color: #131010;
  
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height:200px;
  
  /* bORDER: 2PX SOLID RED; */


}


h1{
  padding:0;
  margin:0;
}
span{
  color:tomato;
}

nav{

  padding:0;
  
}

ul{
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  list-style-type: none;
  padding:0;

}
.nav-pg-01{
  display: flex;
  gap: 1.4rem;
}

.nav-pg-02{
  display: flex;
  justify-content: space-around;
}


/* ========
main
======== */


main{
  text-align: center;
}

.font-style{
  font-style: italic;
}

.section_01{
  margin: 4rem;
}

.form-grp{
  width: 300px;
}

input{
  margin: 2rem 0;
  padding: .5rem 1.5rem;
  width: 90%;
  border-radius: .55rem;
  font-size: 1.2rem;
}


button{
  padding: .6em 1em;
 background-color: tomato;
  font-family: 'Commissioner', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-radius: .4em;
}




/* =======
footer
======= */


footer{
  margin: 4rem 0 0;
  padding:0 2rem;
  display: flex;
  flex-direction:column;
  /* align-items: center; */
}

.footer_section_02{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.copyright{
  text-align: center;
  margin: 2rem 0;
  color:grey;


}



/* =====
Blog
====== */

.blogM{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin: 2rem 0 0
}

.blog_post_grp{
  display: flex;
  flex-direction: column;
  text-align:left;

  /* border: 2px solid tomato; */
  width: 80%;
}
.blog_post{
  border: 2px solid tomato;
}

img{
  width: 100%;
  /* height: 80%; */

}

.blog_post_info{
  color: white;
  cursor: pointer;

}


a:Link{
  text-decoration: none;
}